@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-Titel: "Fjalla One", sans-serif;

    /* Couleurs principales */
    --color-primary: #E91E63;
    --color-primary-dark: #C2185B;
    --color-primary-light: #FFE4EC;

    /* Accent */
    --color-accent: #F06292;
    /* Accent violet */
    --color-accent-dark: #6A1B8C;

    /* Backgrounds */
    --bg-main: #FFF5F8;
    --bg-card: #FFFFFF;

    /* Textes */
    --text-main: #1F1F1F;
    --text-secondary: #6B7280;

    --gradient-primary: linear-gradient(135deg, #9C27B0, #EC1E63);

    --gradient-hero-bg: linear-gradient(160deg, rgba(26, 15, 46, 0.85), rgba(45, 27, 78, 0.7), rgba(74, 31, 92, 0.6));

    --gradient-banner: linear-gradient(90deg, #7B1FA2, #EC1E63);

    /* UI */
    --border-color: #E5E7EB;
    --btn-primary: #E91E63;
    --btn-primary-hover: #C2185B;

    --bg-main-dark: #FFF5F8;

    --gap: 20px;
    --padding: 10px;
    --margin: 10px;
    --radius: 16px;
    --radius-sm: 8px;
    --radius-lg: 24px;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
}

body.dark {
    /* Couleurs principales */
    --color-primary: #EC1E63;
    --color-primary-dark: #B0154A;
    --color-primary-light: #FF6B9D;

    /* Accent */
    --color-accent: #F06292;
    --color-accent-dark: #28072e;

    /* Backgrounds */
    --bg-main: #150B24;
    --bg-card: #241536;

    /* Textes */
    --text-main: #FFFFFF;
    --text-secondary: #C9BFDA;

    --gradient-primary: linear-gradient(135deg, #9C27B0, #EC1E63);
    --gradient-hero-bg : linear-gradient(to bottom , #c9bfdaaa , #c9bfdaec);
    --gradient-banner: linear-gradient(90deg, #7B1FA2, #EC1E63);


    /* UI */
    --border-color: rgba(255, 255, 255, 0.12);
    --btn-primary: #EC1E63;
    --btn-primary-hover: #D4185A;
}

body.dark .navbar{
    background-color: var(--bg-card);
}
body.dark .marque h1{
    color: var(--bg-main-dark);
}
body.dark .dvgrid4 {
    color: var(--bg-main-dark);
}
body.dark .sectionmod1{
    background: var(--gradient-hero-bg);
}
body.dark footer{
    background: var(--bg-card);
}
.d-no {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-Titel);
}


button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: var(--bg-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: var(--margin);
    border-radius: var(--radius);
    position: fixed;
    top: 1em;
    box-shadow: 0 0 2px var(--color-accent);
    z-index: 1000;
}


#menuMobile {
    position: fixed;
    top: 5rem;

    width: 90vw;
    background: var(--bg-main);
    border-radius: var(--radius);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    padding: 1.5rem;
    z-index: 999;

    opacity: 0;
}

#menuMobile.menuMobileActive {
    transition: 0.3s ease;
    opacity: 1;
}

.linkMobile ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.linkMobile ul a {
    color: var(--text-main);
}

img {
    width: 10vw;
}

.link ul {
    gap: var(--gap);
    display: flex;
}

.link a {
    font-size: 1.2em;
    color: var(--text-main);
    transition: 0.3s ease-in-out;
}

.btnMenu.active {
    color: var(--btn-primary);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

.link a:hover {
    color: var(--btn-primary);
}

.link a:active {
    text-decoration: un;
}

.logo {
    margin-left: 2rem;
}

.brnDark {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.container {
    width: 100%;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}

/* hero */
.hero {
    min-height: 100vh;
    background: var(--gradient-hero-bg), url(../image/heroImg.webp);
    padding-top: 12rem;
    color: var(--bg-main);
}

.spanLeaders {
    background: var(--gradient-banner);
    color: var(--bg-main);
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: var(--radius);
}

.spanColors {
    color: var(--btn-primary);
}

.hero h1 {
    font-size: 4em;
    padding-top: 1rem;
}

.hero p {
    /* font-size: 1.2em; */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.btnHero {
    display: flex;
    gap: var(--gap);
    padding-bottom: 2em;
}

.btnPrimary {
    color: var(--bg-main);
    background: var(--gradient-primary);
    border-radius: var(--radius);
    font-size: 1.2em;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    transition: 0.3s ease-in-out;
}

.btnPrimary:hover {
    box-shadow: 0 0 20px var(--btn-primary);
    transform: translateY(-2px);
}

.btnPrimary:active {
    background-color: var(--color-accent);
    box-shadow: 0 0 20px var(--bg-card);
}

.btnSecondary {
    color: var(--bg-card);
    border: 1px solid var(--bg-card);
    border-radius: var(--radius);
    font-size: 1.2em;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    transition: 0.3s ease-in-out;
}

.btnSecondary:hover {
    background: linear-gradient(to bottom, #f0629123, #f0629168);
}

.compteur {
    padding-bottom: 2em;
    gap: var(--gap);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "grid3 grid2 grid1"
    ;
}

.confesc {
    display: flex;
}

.confe {
    display: flex;
    justify-content: end;
    margin: auto;
}

.confe img {
    width: 21vw;
}

.grid1 {
    grid-area: grid1;
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: 2em;
    backdrop-filter: blur(10px);
    border: .5px solid var(--bg-main);
    /* padding-left: 2em; */
    border-radius: var(--radius-sm);
}

.grid1Span1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    background-color: #ffffff39;
    border-radius: var(--radius-sm);
    backdrop-filter: blur(30px);
}

.nbrspan1grid1 {
    font-size: 2em;
}

.grid1spn1lett {
    font-size: .6em;
}

.grid2 {
    grid-area: grid2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
    backdrop-filter: blur(10px);
    border: .5px solid var(--bg-main);
    padding-left: 2em;
    border-radius: var(--radius-sm);
}

.grid2Span {
    font-weight: bold;
    color: var(--btn-primary);
    font-size: 1.5em;
}

.grid3 {
    grid-area: grid3;
    display: flex;
}

.grid3>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradient-primary);
    border-radius: var(--radius-sm);
    padding: 1em;
    padding-right: 2em;
    padding-left: 2em;
}

.avatar {
    display: flex;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: -12px;
}

.nbrParticipant {
    font-weight: bold;
    padding: 0.2em;
    font-size: 1.5em;
}

/* =========section marque =========== */
.marque {
    overflow: hidden;
    background: var(--gradient-banner);
    margin-top: .8em;
    margin-bottom: .8em;
    padding: 1.5em;
}

.marque>div {
    display: flex;
    gap: 60px;
    width: max-content;
    color: var(--bg-card);
    animation: mqr 30s linear infinite;
}

@keyframes mqr {
    form {
        transform: translateX(0);
    }

    to {
        transform: translateX(-25%);
    }
}

/* =========section PARTICIPER=========== */
.sectionPour {
    padding-top: 2em;
    padding-bottom: 3em;
}

.sectionPour span {
    color: var(--btn-primary);
    font-weight: bold;
}

.sectionPour {
    display: grid;
    gap: var(--gap);
    padding-top: 10em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "gridpour1 gridpour1 gridpour2"
    ;
}

.gridpour1 {
    grid-area: gridpour1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.gridpour2 {
    grid-area: gridpour2;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.sectionPour2 {
    display: grid;
    margin-top: 3rem;
    padding-bottom: 8rem;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    grid-template-areas:
        "divGrir1 divGrir2 divGrir3"
        "divGrir1 divGrir4 divGrir3"
    ;
}

.divGrir1 {
    grid-area: divGrir1;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border-radius: var(--radius-lg);
    transition: 0.3s ease-in-out;
}

.divGrir2 {
    grid-area: divGrir2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.divGrir2 p {
    padding-bottom: 1em;
}

.divGrir2 h2 {
    padding-top: 1em;
}

.divGrir3 {
    grid-area: divGrir3;
    background-color: var(--bg-card);
    padding: 2em;
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.divGrir4 {
    grid-area: divGrir4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: var(--radius);
    background-color: var(--color-primary-dark);
    color: var(--bg-main);
    padding-top: 2em;
    padding-bottom: 2em;
    transition: 0.3s ease-in-out;
}

.divGrir1:hover,
.divGrir3:hover {
    scale: 1.03;
    box-shadow: 0 0 2px var(--text-main);
}

.divGrir2:hover,
.divGrir4:hover {
    scale: 1.03;
}

.sectionPour2 img {
    width: 25vw;
    border-radius: var(--radius-lg);
}

.dvgrid4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dvgrid4Nbr {
    font-weight: bold;
    font-size: 3em;
}

.dvgrid4Txt {
    font-size: .8em;
}

/* sectionSponsors */
.sectionmod1 {
    background-color: var(--color-primary-light);
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sectionPresence {
    padding-top: 5em;
}

.sectionPresence span {
    color: var(--btn-primary);
    font-weight: bold;
}

.sectionPresence>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    padding-top: 5em;
}

.sceIntervenant img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 1.5em;
    border-radius: var(--radius);
}

.sceIntervenant {
    background-color: var(--bg-card);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.sceIntervenant:hover {
    scale: 1.05;
}

.paraIntervene {
    color: var(--btn-primary);
}

.paraIntervene2 {
    padding-bottom: 1.5em;
}

.btnIntervenant {
    margin-top: 4em;
    padding-bottom: 8rem;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.btnIntervenant2 {
    display: flex;
    flex-direction: column;
}

.btnIntervenant2 a {
    color: var(--btn-primary);
}

/* ==========sponsor============= */
.sectionSponsors {
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.sectionSponsors>span {
    color: var(--btn-primary);
    font-weight: bold;
}

.sectionSponsors>div {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txtPartenaire {
    text-align: center;
    padding: 1em;
}

.gridPartenaires1 {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(2, 1fr);
}

.gridPartenaires1 span {
    font-size: 1.3em;
    font-weight: bold;
}

.gridPartenaires2 {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3, 1fr);
}

.gridPartenaires3 {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(4, 1fr);
}

.divpartenaire1 {
    background-color: var(--bg-card);
    padding: 2em;
    border: 1px solid var(--text-main);
    border-radius: var(--radius);
}

/* ================================
=============intervenant=========== 
===================================*/
.heroInert {
    padding-top: 10rem;
}

.heroInert h1 {
    padding-top: 0.5em;
    font-size: 3em;
}

.btnsearch {
    padding-bottom: 3em;
    transition: 0.3s ease-in-out;
}

.btnsearch button {
    padding: .8em;
    border-radius: var(--radius-sm);
    background-color: transparent;
    color: var(--btn-primary);
    border: 1px solid var(--btn-primary);
    margin-top: 3em;
    transition: 0.3s ease-in-out;
}

.btnsearch button:hover {
    background: linear-gradient(to bottom, #c2185c61, #c2185caf);
    color: var(--bg-card);
}

.allIntervenants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    padding-bottom: 8em; 
}

/* ======================================
===========page contact==================
========================================= */
.heroConatact {
    padding-top: 10rem;
    padding-bottom: 0em;
}

.heroConatact span a {
    color: var(--text-secondary);
}

.heroConatact span a:hover {
    color: var(--btn-primary);
}

.heroInert span a {
    color: var(--text-secondary);
    transition: 0.3s ease-in-out;
}

.heroInert span a:hover {
    color: var(--btn-primary);
}

.sectionContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    min-height: 100vh;
    padding-top: 5em;
    padding-bottom: 10em;
}

.heroConatact h1 {
    padding-top: 0.5em;
    font-size: 3em;
}

.sectContact {
    display: flex;
    flex-direction: column;
}

input,
select {
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    width: 100%;
    border-radius: var(--radius-sm);
    border: 1px solid var(--btn-primary);
}

textarea {
    padding: 0.5em;
    font-size: 1em;
    height: 20vh;
    border-radius: var(--radius-sm);
    border: 1px solid var(--btn-primary);
}

form {
    /* padding-top: 1em; */
    background-color: var(--bg-card);
    padding: 2em;
    border-radius: var(--radius);
}

label {
    padding-bottom: 0.5em;
    padding-top: 1em;
}

.btnSendInscription button {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    border-radius: var(--radius);
    color: var(--bg-card);
    font-weight: bold;
    background-color: var(--text-main);
    border: none;
    transition: 0.3s ease-in-out;
}

.btnSendInscription button:hover {
    transform: translateY(-10px);
    background-color: var(--color-accent);
}

.adr {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.adr i {
    font-size: 1.5em;
    color: var(--color-accent);
    background-color: var(--bg-card);
    padding: .5rem;
    border-radius: var(--radius-sm);
}

.adr strong {
    font-size: 1.4em;
}

.parAdr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

iframe {
    border-radius: var(--radius-sm);
}

.faq h2 {
    padding-bottom: 1.3em;
}

.faq {
    padding-bottom: 4em;
}

.faqItem>input {
    display: none;
}

.faqItem {
    padding: 1em;
}

.faqItem label {
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-card);
    border: 1px solid var(--color-accent);
    padding: 0.8em 1em;
    cursor: pointer;
}

.faqContent {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}

.faqItem label::after {
    content: "+";
    font-weight: bold;
    transition: 0.3s ease;
}

.faqItem input:checked~.faqContent {
    max-height: 15vh;
    min-height: 10vh;
    background-color: var(--bg-card);
    border: 0.5px solid var(--text-secondary);
    padding: 2rem 1em;
}

.faqItem input:checked+label::after {
    transform: rotate(45deg);
}

/* ===============================
==============programe============
================================== */
.heroProg {
    padding-top: 10rem;
    padding-bottom: 3em;
}

.heroProg>h1 {
    padding-top: 0.5em;
    font-size: 3em;
}

.heroProg span a {
    color: var(--text-secondary);
}

.heroProg span a:hover {
    color: var(--btn-primary);
}

.btnpro>button {
    background-color: transparent;
    border-radius: var(--radius);
    font-weight: bold;
    border: 1px solid gray;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-right: 3em;
    padding-left: 3em;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to bottom, #c2185c61, #c2185caf);
    color: var(--text-main);
}

.btnpro>button:hover {
    background-color: var(--bg-card);
}

.sectionThema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 4rem;
}

.sectionThema>span {
    color: var(--btn-primary);
    font-weight: bold;
    padding-bottom: 3rem;
}

.sectionThema>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    grid-template-areas:
        "gridThem1 gridThem1 gridThem2"
        "gridThem3 gridThem4 gridThem4"
    ;
}

.gridThem1 {
    grid-area: gridThem1;
    background-color: var(--bg-card);
    border-radius: var(--radius);
    padding: 3em;
    transition: 0.3s ease-in-out;
}

.gridThem2 {
    grid-area: gridThem2;
    background-color: var(--bg-card);
    border-radius: var(--radius);
    padding: 3em;
    transition: 0.3s ease-in-out;
}

.gridThem3 {
    grid-area: gridThem3;
    background-color: var(--bg-card);
    border-radius: var(--radius);
    padding: 3em;
    transition: 0.3s ease-in-out;
}

.gridThem4 {
    grid-area: gridThem4;
    background-color: var(--bg-card);
    border-radius: var(--radius);
    padding: 3em;
    transition: 0.3s ease-in-out;
}

.gridThem1:hover,
.gridThem2:hover,
.gridThem3:hover,
.gridThem4:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0 0 50px var(--border-color);
}

.gridThem>h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.iconethema {
    font-size: 2em;
    padding: .5rem;
    color: var(--text);
    border-radius: var(--radius-sm);
    background: linear-gradient(to bottom, #c2185c61, #c2185caf);
}

.tab {
    min-height: 100vh;
    padding-top: 3em;
    overflow-x: auto;
}

table {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px #0D0A12;
    border-collapse: collapse;
    min-width: 600px;
    width: 100%;

}

table thead {
    background-color: var(--color-accent);
}

table thead th {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    text-align: left;
    font-weight: bold;
    color: var(--bg-card);
    font-size: larger;
}

table tbody td {
    padding: 2em;
    font-weight: bold;
}

.tr1 {
    background-color: #f0629129;
}

.tr2 {
    background-color: #f06291a6;
}

/* =============footer ============ */
footer {
    background: linear-gradient(to bottom, #5a1e3584, #5a1e3570);
    padding-top: 5em;
    padding-bottom: 5em;
}

footer>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer h2 {
    padding-bottom: 1em;
}

.fotterLogo a {
    margin-left: 0;
}

.fotterLogo p {
    margin-top: 1em;
}

.linkSocial {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.linkSocial a {
    transition: 0.3s ease-in-out;
    padding: 0.2em;
    border-radius: var(--radius-sm);
}

.linkSocial a:hover {
    background-color: #c2185c61;
}

.contfooter {
    display: flex;
    padding-bottom: 2em;
    gap: 0.4em;
}

.instagram {
    color: var(--text-main);
    width: 12vw;
    font-size: 1.3em;
}

.btnremonte {
    background-color: var(--btn-primary);
    border-radius: var(--radius-sm);
    padding: .2em;
    color: var(--bg-card);
    border: none;
    font-size: 1.8em;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* ==================================
======responsivite mediaqurie======== 
=====================================*/

/*=============================
 ===========mobile=============
 ============================== */
.burger {
    display: none;
    font-size: 2em;
    background-color: transparent;
    border: none;
}

.btnNavbar {
    display: flex;
}

@media (max-width: 640px) {

    .container {
        width: 100%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .logo img {
        width: 30vw;
    }

    .link {
        display: none;
    }

    .burger {
        display: block;
        color: #0D0A12;
    }

    .confesc {
        display: flex;
        flex-direction: column;
    }

    .confe img {
        width: 50vw;
    }

    .btnHero {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .compteur {
        display: grid;
        display: flex;
        flex-direction: column;
    }

    .grid1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0;
        padding: 1.4em;
    }

    .grid2 {
        padding: 1em;
    }

    .sectionPour {
        display: flex;
        flex-direction: column;
        padding-top: 3em;
    }

    .sectionPour a {
        font-size: small;
    }

    .sectionPour2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sectionPour2 img {
        width: 55vw;
    }

    .divGrir2 {
        padding: 2em;
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--bg-card);
        border-radius: var(--radius-sm);
    }

    .divGrir2 p {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .divGrir2 img {
        border-radius: var(--radius-sm);
    }

    .divGrir3 {
        padding: 2em;
        border-radius: var(--radius-sm);
    }

    .divGrir3 p {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .divGrir3 img {
        border-radius: var(--radius-sm);
    }

    .divGrir1 {
        padding: 2em;
        border-radius: var(--radius-sm);
    }

    .divGrir1 p {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .divGrir1 img {
        border-radius: var(--radius-sm);
    }

    .dvgrid4Txt2 {
        font-size: .6em;
    }

    .sectionPresence {
        padding-top: 3em;
    }

    .sectionPresence>div {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);
        padding-top: 3em;
    }

    .btnIntervenant {
        display: flex;
        justify-content: center;
    }

    .btnIntervenant a {
        font-size: small;
    }

    .sectionSponsors h2 {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .gridPartenaires2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .gridPartenaires3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 2em;
    }

    footer>div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    /* ================================
    =========page intervenenant========
    =================================== */
    .heroInert {
        padding-top: 8rem;
    }

    .heroInert h1 {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .btnsearch {
        padding-bottom: 3em;
        padding-top: 2em;
        display: flex;
        gap: 0.5rem;
    }



    .btnsearch button {
        padding: .5em;
        margin-top: 0;
        flex-shrink: 0;
    }

    .allIntervenants {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* =================================
    ============page Programe ==========
    ==================================== */
    .heroProg {
        padding-top: 8rem;
    }

    .heroProg>h1 {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .btnpro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
        flex-shrink: 0;

    }

    .btnpro button {
        flex-shrink: 0;
        padding: .7em;
    }

    .sectionThema>div {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);
        grid-template-areas:
            "gridThem1"
            "gridThem2"
            "gridThem3"
            "gridThem4"
        ;
    }

    /* ===============================
    ==========Page Contacte===========
    ================================== */
    .heroConatact {
        padding-top: 8rem;
    }

    .sectionContact {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    form {
        padding: 1.5rem;
    }

    .parAdr {
        gap: 2rem;
    }

    .adr strong {
        font-size: 1.1em;
    }

    textarea {
        height: 150px;
    }

    iframe {
        width: 100%;
        height: 250px;
    }


}

/* ================================
===============tablette============
=================================== */
@media (min-width: 641px) and (max-width: 1024px) {
    .container {
        width: 100%;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .logo img {
        width: 15vw;
    }

    .link {
        display: none;
    }

    .burger {
        display: block;
        color: #0D0A12;
    }

    .btnHero {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .confesc {
        display: flex;
        flex-direction: column;
    }

    .confe img {
        width: 40vw;
    }

    .compteur {
        display: grid;
        display: flex;
        flex-direction: column;
    }

    .grid1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0;
        padding: 1.4em;
    }

    .grid2 {
        padding: 1em;
    }

    .sectionPour {
        display: flex;
        flex-direction: column;
        padding-top: 8em;
    }

    .sectionPour a {
        width: 50vw;
    }

    .sectionPour2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "divGrir1 divGrir2"
            "divGrir3 divGrir4";
    }

    .sectionPour2 img {
        width: 30vw;
    }

    .divGrir2 {
        padding: 2em;
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--bg-card);
        border-radius: var(--radius-sm);
    }

    .divGrir2 p {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .divGrir2 img {
        border-radius: var(--radius-sm);
    }

    .divGrir3 {
        padding: 2em;
        border-radius: var(--radius-sm);
    }

    .divGrir3 p {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .divGrir3 img {
        border-radius: var(--radius-sm);
    }

    .divGrir1 {
        padding: 2em;
        border-radius: var(--radius-sm);
    }

    .divGrir1 p {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .divGrir1 img {
        border-radius: var(--radius-sm);
    }

    .dvgrid4Txt2 {
        font-size: .6em;
    }

    .sectionPresence {
        padding-top: 3em;
    }

    .sectionPresence>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
        padding-top: 3em;
    }

    .btnIntervenant {
        display: flex;
        justify-content: center;
    }

    .sectionSponsors h2 {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .gridPartenaires3 {
        padding-bottom: 2em;
    }

    footer>div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    /* ================================
    =========page intervenenant========
    =================================== */
    .heroInert {
        padding-top: 8rem;
    }

    .heroInert h1 {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .btnsearch {
        padding-bottom: 3em;
        padding-top: 2em;
        display: flex;
        gap: 0.5rem;
    }

    .btnsearch button {
        padding: 1em;
        margin-top: 0;
        flex-shrink: 0;
    }

    .allIntervenants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* =================================
    ============page Programe ==========
    ==================================== */
    .heroProg.heroProg {
        padding-top: 10rem;
    }

    .heroProg>h1 {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .btnpro {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);
        flex-shrink: 0;

    }

    .btnpro button {
        flex-shrink: 0;
        padding: .7em;
    }

    .sectionThema>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
        grid-template-areas:
            "gridThem1 gridThem2"
            "gridThem3 gridThem4"
        ;
    }

    /* ===============================
    ==========Page Contacte===========
    ================================== */
    .heroConatact {
        padding-top: 8rem;
    }

    .sectionContact {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    form {
        padding: 1.5rem;
    }

    .parAdr {
        gap: 2rem;
    }

    .adr strong {
        font-size: 1.1em;
    }

    textarea {
        height: 150px;
    }

    iframe {
        width: 100%;
        height: 250px;
    }
}

/* =========================================== */
/*================pour classliste js============ */
/* ============================================= */
.btnremonte{
    opacity: 0;
    transition: 3s ease;
}
.btnremonte.btnRmtAfficher{
    opacity: 1;
}